# 로컬 개발 환경 설정
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    # 로컬에 설치된 MySQL DB 주소
    url: jdbc:mysql://localhost:3306/"스키마이름"?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul
    # 로컬 DB 사용자 이름
    username: "여기에_DB_유저네임_입력"
    # 로컬 DB 비밀번호
    password: "여기에_DB_비밀번호_입력"

# JWT 시크릿 키
jwt:
  secret:
    key: "여기에_시크릿키로_설정할_문자열_입력"